.nav {
    list-style: none;
    height: 38px;
}

    .nav li {
        position: relative;
        float: left;
        transition: all 0.7s ease 0s;
    }

        .nav li:hover {
            background-color: #333;
        }

        .nav li div {
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: 1000;
            padding: 15px 13px;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            border: 1px solid #FF7500;
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            display: none;
        }

        .nav li:hover div {
            display: block;
        }

        .nav li div .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5;
            display: block;
        }

        .nav li div a {
            display: block;
            color: #333;
            white-space: nowrap;
            padding: 5px;
            border-bottom: 1px solid #FF7500;
        }

            .nav li div a:hover {
                background-color: #333;
            }

        .nav li a {
            display: block;
            padding: 10px 8px;
            color: #fff;
            text-decoration: none;
        }

            .nav li a .fa {
                margin-right: 5px;
                font-size: 16px;
                color: #6204d7;
            }

        .nav li .lang {
            width: 102px;
            margin: 6px 10px 6px 10px;
            border: 1px solid #fff;
            border-radius: 2px;
            font-size: 12px;
            height: 22px;
        }

        .nav li .lang-a {
            float: left;
            width: 50px;
            background-color: #FFF;
            color: #333;
            text-align: center;
            line-height: 22px;
        }

        .nav li .lang-i {
            float: left;
            width: 50px;
            text-align: center;
        }

        .nav li a:hover,
        .nav li a:focus {
            color: #ddd;
        }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}




#visitoronline {
    font-size: 12px;
    line-height: 0px;
    margin-top: 20px;
}

    #visitoronline a img {
        height: 25px;
        margin-bottom: -7px;
    }

    #visitoronline a:last-child {
        font-size: 0px !important;
    }
